// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&display=swap');
// Define fonts for body and headers
$body-font: 'Space Mono', monospace;
$headers-font: 'Space Mono', monospace;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
//
// $my-font: "Font Name";
@font-face {
  font-family: 'Karrik';
  src: url("../../fonts/Karrik-Regular.ttf") format('ttf')
}

@font-face {
  font-family: 'Picnic';
  src: url(../../fonts/PicNic-Regular.otf) format('otf')
}

@font-face {
  font-family: '1452';
  src: url(../../fonts/Format_1452.otf) format('otf')
}

@font-face {
  font-family: 'Abordage';
  src: url(../../fonts/Abordage-Regular.ttf) format('ttf')
}

@font-face {
  font-family: 'Cantique';
  src: url(../../fonts/Cantique-Normal.otf) format('otf')
}

@font-face {
  font-family: 'Steps';
  src: url(../../fonts/Steps-Mono.otf) format('otf')
}

a {
  color: #0e0000 !important;
  text-decoration: none !important;
}
