h1 {
  color: black;
  margin: 10px;
}

.show-container {
  padding: 24px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 30px;
  border-radius: 7px;
  background-color: $light-white;
}

.show-img {
  border-radius: 7px;
  margin: 20px;
}

.show-ud {
  font-size: larger;
  display: inline-block;
  color: red;
}
.animated-link {
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  padding-top: 100px;
}

.animated-link {
  display: inline-block;
  background-color: #ff90e8;
  font-family: 'Space Mono', monospace;
  color:  #333;
  border: px solid #333;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition:
  transform 0,15s ease-out,
  color 0,15s ease-out,
  background-color 0,15s ease-out;
}
.animated-link:hover {
  transform: translate(-6px, -6px);
  color: $light-white;
  background: black;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto);
  margin-left: 287px;

}


.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  h1 {
    color: black;
    margin: 29px;
    font-family: 'Syne Mono', monospace;
    width: fit-content;
  }
}
.two {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
}
.three {
  grid-column: 2/ 2;
  grid-row: 2 / 2;
  margin-top: 25px;
}
.four {
  grid-column: 2/ 2;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: space-between;
  padding-top: 20px;
}
.five {
  grid-column: 1/ 2;
  grid-row: 3 / 3;
  padding-left: 20px;
}

.six {
  grid-column: 1/ 2;
  grid-row: 4/ 4;
  padding-left: 20px;
}
.six h2 {
  color: black;
  text-decoration: overline;
  text-decoration-color: #ff90e8;
}
.seven {
  grid-column: 2/ 2;
  grid-row: 4/ 4;

  width: fit-content;
}
.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #ff90e8; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:  #ff90e8;
  }
}
