<div id="footer">
<div class="footer-icons">
    <i class="fa-brands fa-square-facebook fa-3x"></i>
    <i class="fa-brands fa-instagram fa-3x"></i>
  </div>
  <h1>MADE WITH LOVE BY THE CLOSETTES</h1>
</div>
