<h1>Robots</h1>

<% @robots.each do |robot| %>
  <ul>
    <li> <%= link_to robot.name, robot_path(robot)%> </li>
  </ul>

 <%= cl_image_tag robot.photo.key, height: 300, width: 400, crop: :fill %>

  <p> <%= robot.utility %> </p>
<% end %>

<%= link_to "Ajouter un robot", new_robot_path %>
