<div class= "container">
<%= simple_form_for [@robot, @booking] do |f| %>
  <h2> Informations de réservations</h2>
  <br>
  <%= f.input :date_first, as: :date %>
  <%= f.input :date_end, as: :date %>

  <br>
  <%= f.submit class: "animated-link" %>
<% end %>
</div>
