<div class="container-homepage">
    <div class = "login">
     <li class="animated-link">
            <%= link_to "Login", new_user_session_path%>
          </li>
     </div>


  <div class="logo">
      <%= link_to robots_path do %>
      <%= image_tag "https://res.cloudinary.com/dplkc6qh4/image/upload/v1669321616/Pasted_Graphic_mtersg.png" %>
    <% end %>
  </div>

</div>
