.banner {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dplkc6qh4/image/upload/v1669131363/duotone_hpbjca.png");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.container1 {
padding-left: 108px;
 h2 {
 font-size: 30px;
 color: $light-white;
 font-family: 'Cantique';

 }
 h4 {
  font-size: 20px;
  font-style: italic;
  color: $light-white;
 }

}
