.card_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
  flex-wrap: wrap;
}

.cards-products {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: flex-start;
  padding: 30px;
  border-radius: 7px;
  background-color: $light-white;
  flex-direction: column;
  width: 400px;
  height: 500px;
  margin: 10px;
  h5{
    color: #ff90e8;
    font-family: Lora;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
  }
}

.card-img {
  border-radius: 7px;
}

.cards-products h2 {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  color: $light-white;
}

.cards-products-infos {
  font-size: 10px;
  line-height: 1.4;
  opacity: 0.7;
  color: black;
}

.mylink {
  text-decoration: none;
  margin-top: 12px;
  color: rgb(36, 34, 34);
}

// @media(max-width: 768px) {
//   .mylink {
//     color: blue;
//     }
// }

.cards-products .cards-products-infos {
  padding: 16px;
}
