#footer h1 {
  margin-top: 40px;
  color: black;
  text-decoration: overline;
  text-decoration-color: #ff90e8;
  align-items: baseline;
  display: flex;
  justify-content: center;
  bottom: 0;
}
 #footer {
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
  justify-content: space-between;
  height: 150px;
  bottom: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 24px;
  box-shadow: 0px 4px 4px rgba(167, 164, 164, 0.25);
 }

 .footer-icons i {
  margin-left: 30px;
  padding-top: 20px;
 }
 .footer-icons {
  display: flex;
  justify-content: center;

 }
