.simple_form {
  margin: 34px;
  padding: 71px;
  border-radius: 50px;
  font-family: 'Space Mono', monospace;
  background-color: #ff90e8;
  width: 50%;
  display: flex;
  align-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  h2 {
    font-size: 40px;
    color: black;
    font-family: 'Space Mono', monospace;
  }

}

.form-control {

  border-radius: 13px;
}
.container {
   display:flex;
   justify-content: center;
}


.mb-3 {
  font-family: 'Space Mono', monospace;
  width: 326%;
}

.form-label {
  font-family: 'Space Mono', monospace;
}

.booking_date_first {
  width: auto;
}

.booking_date_end {
  width: auto;
}
