.navbar-lewagon {
  justify-content: space-between;
  background: $light-white;
  height: 100px;
}

.navbar {
  box-shadow: 0px 4px 4px rgba(167, 164, 164, 0.25);
}

 .navbar-lewagon .navbar-collapse {
  flex-grow: 0;

 }
.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.container-fluid {
  width: 1300px;
}
.navbar-nav {
  align-items: center;
}

.nav-link {
  text-align: left;
  width: 79px;
  font-size:xx-small;
}
.avatar {
  width: 60px;
  margin: 20px;
}

.navbar-collapse {
  background: rgb(255, 255, 255);
  border-radius: 10px;

}
.collapse {
  padding-right: 10px;
}

.login {
position: absolute;
width: 163px;
height: 15px;
left: 1082px;
top: 106px;
color:rgba(52, 50, 50, 0.25);
font-size: medium;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.dropdown-menu {

  background-color: #ff90e8;
  border-radius: 12px;
}

.dropdown-item:hover {
  color: $light-white;
  background-color: black;
}
